<div class="outer-div">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="devicon-c-plain colored"></i> Home
            </ng-template>
            Home data
        </mat-tab>
        <mat-tab label="Day 1">
            <div>                
                <img src="assets/img/c-division.jpeg"  alt="">
                <h3>Data Type</h3>
                <p>
                    Data types are used within type systems, which offer various ways of defining, implementing, and using them. Different type systems ensure varying degrees of type safety.
                    Almost all programming languages explicitly include the notion of data type, though different languages may use different terminology.<br><br>
                    Data types in c refer to an extensive system used for declaring variables or functions of different types. The type of a variable determines how much space it occupies in storage and how the bit pattern stored is interpreted.
                </p>
                    <div class="d-flex">
                        <div class="col-2"></div>
                        <div class="col-7">
                            <h5 style="color: rgb(62, 104, 1);">The types in C can be classified as follows −</h5>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">SL</th>
                                    <th scope="col">Types & Description</th>                            
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <h6>Basic Types</h6>
                                        They are arithmetic types and are further classified into: (a) integer types and (b) floating-point types.
                                    </td>                            
                                </tr>  
                                <tr>
                                    <th scope="row">2</th>
                                    <td>
                                        <h6>Enumerated types</h6>
                                        They are again arithmetic types and they are used to define variables that can only assign certain discrete integer values throughout the program.
                                    </td>                            
                                </tr>  
                                <tr>
                                    <th scope="row">3</th>
                                    <td>
                                        <h6>The type void</h6>
                                        The type specifier void indicates that no value is available.
                                    </td>                            
                                </tr>  
                                <tr>
                                    <th scope="row">4</th>
                                    <td>
                                        <h6>Derived types</h6>
                                        They include (a) Pointer types, (b) Array types, (c) Structure types, (d) Union types and (e) Function types.
                                    </td>                            
                                </tr>                                                
                                </tbody>
                            </table>
                        </div>
                        <div class="col-3"></div>                        
                    </div>
                    The array types and structure types are referred collectively as the aggregate types. The type of a function specifies the type of the function's return value. We will see the basic types in the following section, where as other types will be covered in the upcoming chapters.

                    <h3>Integer Types</h3>
                    <div>
                        <p>The following table provides the details of standard integer types with their storage sizes and value ranges −</p>
                        <div class="d-flex">
                            <div class="col-2"></div>
                            <div class="col-7">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Type</th>
                                        <th scope="col">Storage size</th>                            
                                        <th scope="col">Value range</th>                            
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">char</th>
                                        <td>1 byte</td>  
                                        <td>-128 to 127 or 0 to 255</td>                          
                                    </tr>  
                                    <tr>
                                        <th scope="row">unsigned char</th>
                                        <td>1 byte</td>  
                                        <td>0 to 255</td>                          
                                    </tr> 
                                    <tr>
                                        <th scope="row">signed char</th>
                                        <td>1 byte</td>  
                                        <td>-128 to 127</td>                          
                                    </tr>
                                    <tr>
                                        <th scope="row">int</th>
                                        <td>2 or 4 bytes</td>  
                                        <td>-32,768 to 32,767 or -2,147,483,648 to 2,147,483,647</td>                          
                                    </tr>
                                    <tr>
                                        <th scope="row">unsigned int</th>
                                        <td>2 or 4 bytes</td>  
                                        <td>0 to 65,535 or 0 to 4,294,967,295</td>                          
                                    </tr>
                                    <tr>
                                        <th scope="row">short</th>
                                        <td>2 bytes</td>  
                                        <td>-32,768 to 32,767</td>                          
                                    </tr>
                                    <tr>
                                        <th scope="row">unsigned short</th>
                                        <td>2 bytes</td>  
                                        <td>0 to 65,535</td>                          
                                    </tr>  
                                    <tr>
                                        <th scope="row">long</th>
                                        <td>8 bytes or (4bytes for 32 bit OS)</td>  
                                        <td>-9223372036854775808 to 9223372036854775807</td>                          
                                    </tr>
                                    <tr>
                                        <th scope="row">unsigned long</th>
                                        <td>8 bytes</td>  
                                        <td>0 to 18446744073709551615</td>                          
                                    </tr>                                          
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-3"></div>
                        </div>                        
                    </div>
                    
                
            </div>
        </mat-tab>
        <mat-tab label="Day 2">
            <h1>C Tutorial</h1>
            <p>
                C programming is a general-purpose, procedural, imperative computer programming language developed in 1972 by Dennis M. Ritchie at the Bell Telephone Laboratories to develop the UNIX operating system. C is the most widely used computer language. It keeps fluctuating at number one scale of popularity along with Java programming language, which is also equally popular and most widely used among modern software programmers.
            </p>
            <p>
                C programming language is a MUST for students and working professionals to become a great Software Engineer specially when they are working in Software Development Domain. I will list down some of the key advantages of learning C Programming:                
            </p>
            <ul>
                <li>Easy to learn</li>
                <li>Structured language</li>
                <li>It produces efficient programs</li>
                <li>It can handle low-level activities</li>
                <li>It can be compiled on a variety of computer platforms</li>
            </ul>
            <h1>Facts about C</h1>
            <ul>
                <li>C was invented to write an operating system called UNIX.</li>
                <li>C is a successor of B language which was introduced around the early 1970s.</li>
                <li>The language was formalized in 1988 by the American National Standard Institute (ANSI).</li>
                <li>The UNIX OS was totally written in C.</li>
                <li>Today C is the most widely used and popular System Programming Language.</li>
                <li>Most of the state-of-the-art software have been implemented using C.</li>
            </ul>
        </mat-tab>
        <mat-tab label="Day 3"> 
            <h1>Hello World using C Programming.</h1>
            <p>
                Just to give you a little excitement about C programming, I'm going to give you a small conventional C Programming Hello World program, You can try it using Demo link.
            </p>
            <div>
                <img src="assets/img/demo-1.JPG" width="1000" alt="">
            </div>
            
        </mat-tab>
        <mat-tab label="Day 4"> Day 4 </mat-tab>
        <mat-tab label="Day 5"> Day 5 </mat-tab>
        <mat-tab label="Day 6"> Day 6 </mat-tab>
        <mat-tab label="Day 7"> Day 7 </mat-tab>
    </mat-tab-group>

</div>
